html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	font-family: 'Maven Pro', sans-serif;
	background:#ebe7df;
	font-size: 100%;
}

.dark_bg {
	background: #242424;
}

.white_bg {
	background: #ffffff;
}

.container {
width: 71.164%;
padding: 0 10px;
}

.header {
	height: 45px;
	width: 959px;
}

.header_btm {
	height: 60px;
}

/********** Logo Header *************/
.navbar-brand {
	color: #57c5a0;
	font-family: 'STHeitiSC Medium', Arial;
	font-size: 20px;
	line-height: 0.7;
	text-transform: uppercase;
	height: 20px;
    padding-left: 0;
}

.navbar-brand:hover {
	color: #57c5a0;
}

/* SURPLUS */
.navbar {
	margin-bottom: 0;
}

.navbar-default {
	background-color: white;
	border: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #57c5a0;
	background-color:white;
}

.navbar-default .navbar-nav>.active>a:hover {

}

/********** Login & registration *************/
.log_reg{
	height: 44px;
	border-right: 1px solid rgb(60, 60, 60);
	padding: 9px 0px;
	float:right;
}
.log_reg ul li{
	display: inline-block;
}
.log_reg li a{
	font-family: 'Maven Pro', sans-serif;
	font-size: 0.8125em;
	display: block;
	padding: 5px 8px;
	color: #777777;
	text-transform: uppercase;
	-webkit-text-stroke: 0.5px;
}
.log_reg  span.log{
	font-size: 0.8125em;
	color: #777777;
	text-transform: lowercase;
	-webkit-text-stroke: 0.5px;
}
h2.style{
	font-size: 1.8em;
	color: #5e5e5e;
	text-transform: capitalize;
}
h4.style{
	font-size: 1.5em;
	color: #5e5e5e;
	text-transform: capitalize;
	border: 1px solid #3D3D3D;
	padding: 1% 2%;
}
.login_left{
	float: left;
	width: 44.33333%;
	margin-left: 3.3333%;
	background: #ffffff;
	padding: 2%;
	min-height: 350px;
}
.login_left:first-child{
	margin-left: 0;
}
.login_left h3{
	font-size: 1.2em;
	color: #57C5A0;
	text-transform: uppercase;
	text-shadow: 0 1px 0 white;
	border-bottom: 1px solid #E9E9E9;
	padding-bottom: 10px;
}
.login_left p{
	font-size: 0.8725em;
	color: #555555;
	margin: 4% 0;
}
.btn form input[type="button"],.registration_form input[type="submit"]{
	font-family: 'Maven Pro', sans-serif;
	cursor:pointer;
	background: #242424;
	border: 1px solid #242424;
	padding: 10px 20px;
	outline:none;
	color: #ffffff;
	font-size: 1em;
	text-transform: capitalize;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}
.btn form input[type="button"]:hover,.registration_form input[type="submit"]:hover{
	background: #57C5A0;
	border: 1px solid #57c5a0;
}

.modal-dialog, .modal-content {
	width:300px;
	height: 300px;
	background-color: #ebe7df;
}

.modal-footer {
	width:150px;
	margin: 0 auto;
	padding: 0px;
}

.btn.btn-primary.first{
	padding: 0 22px;
	height: 10px;
	border: none;
	background-color: transparent;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue";
	color: #656565;
	font-size: 12px;
}

.btn.btn-primary.first:hover{

	border: none;
	background-color: transparent;
}

.btn.btn-secondary, .btn.btn-primary {
	padding: 5px 12px;
	background-color: #242424;
}

.modal-footer.btn.btn-secondary:hover, .modal-footer.btn.btn-primary:hover {
	color: white;
}

.modal-title {
	font-weight: bold;
}

/*start search*/

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 9px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.glyphicon.glyphicon-search {
	font-size: 14px;
	color: #6e6e6e;
}


.dropbtn:hover, .dropbtn:focus {
    background-color: #57c5a0;
}

#myInput {
    border-box: box-sizing;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 15px;
    border: none;
    border-bottom: none;
    text-transform: uppercase;
    background-color: #242424;
    color: #959595;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4c4c4c;
    min-width: 230px;
    overflow: auto;
    z-index: 1;
    text-transform: uppercase;
    top:-4px;
    right:38px;
}

.dropdown-content a {
    color: #959595;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.web_search{
	position: relative;
	float:right;
	width: 60px;
	border-right: 1px solid rgb(60, 60, 60);
	padding: 5px 10px;
}

.search_icon {
	float: right;
	padding: 10px 20px;
	outline: none;
	border: none;
	background: none;
	font-size: 1em;
	color: #333333;
}


/* start header_btm */
.menu{
	float: left;
}
.menu ul li{
	float: left;
	border-left: 1px solid rgb(226, 226, 226);
	height:60px;
}
.menu ul li:nth-child(6){
	border-right: 1px solid rgb(226, 226, 226);
}
.menu ul li a{
	display: block;
	padding: 20px 20px 20px 20px;
	color: #2d2d2d;
	font-size: 14px;
	text-transform: capitalize;
	-webkit-text-stroke: 0.2px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav>li>a:hover{
	color:#57C5A0;
}


.nav.navbar-nav.collapse.navbar-collapse {
padding: 0px;
}

/* start header_right */
.fa.star {
	color: #6e6e6e;
	padding-top: 7px;
	padding-left: 10px; 
} 

.fa.fa-cart-arrow-down.star {
	color:#6e6e6e;
		padding-top: 5px;
	padding-left: 5px; 
}

.header_right{
	float:right;
}
.header_right ul li{
	display: inline-block;
}
.header_right ul li a{
	font-family: 'Maven Pro', sans-serif;
	display: block;
	font-size: 0.8em;
	color: #ffffff;
	padding: 13.5px 23px;
	border-left: 1px solid rgb(226, 226, 226);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	height:60px;
}

.header_right ul li:nth-child(2) a{
	border-right: 1px solid rgb(226, 226, 226);	
}
.header_right ul li a span{
	background: #adadad;
	padding:5px 9px;
	width: 20px;
	height: 20px;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

.header_right ul li a:hover {
		text-decoration: none;
}

.header_right ul li a span:hover {
	background:#57c5a0;
}

.header_right ul li a span.color1{
	padding: 5px 5px;
}



.header_right ul li a > i{
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	transition: none;
}
.header_right ul li a > i.art{
	background: url(../images/art.png) no-repeat 4px 8px;
}
.header_right ul li a > i.cart{
	background: url(../images/cart.png) no-repeat 5px 8px;
}

/*-- start image1_of_3 --*/
.main1{
	height: 231px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.image1_of_3{
	float: left;
	width: 31.94444%;
	margin-left: 2.08333%;
	text-align:center;
}
.image1_of_3:first-child{
	margin-left: 0;
}
.image1_of_3 img{
	width:100%;
}
.image1_of_3 span{
	position: relative;
	top: -100px;
}
.image1_of_3 span.tag{
	padding: 16px 42px;
	background: rgba(36, 36, 36, 0.85);
	color: #ffffff;
	font-size: 1.5em;
	text-transform: uppercase;
}

.image1_of_3 a span:hover{
	text-decoration: none;
	color: #57c5a0;
}

.image1_of_3 span.tag.center {
	padding: 16px 23px;
}

.image1_of_3 span.tag.right {
	padding: 16px 26px;
}


/* start main BEST NEW */
.main_bg{
	background: #EBE7DF;
}
.main_top{
	padding: 2% 4%;
}

.top_main.container {
	padding-top: 30px;
}

.top_main h2{
	float: left;
	text-transform: capitalize;
	color: #242424;
	font-size: 1.5em;
	text-shadow: 0 1px 0 #ffffff;
	line-height: 1.8em;
	padding-bottom: 29px;
}
.top_main a{
	font-size: 1em;
	float: right;
	text-transform: capitalize;
	padding: 8px 20px;
	color: #BCB4A7;
	border: 1px solid #BCB4A7;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.top_main a:hover{
	background:#57c5a0;
	color: #ffffff;
	text-decoration: none;
}
/* start grids_of_3 */
.grids_of_3{
	text-align:center;
	display: block;
}
.grid1_of_3{
	float:left;
	width: 31.91489%;
	height: 270px;
	margin-left:2.1276%;
	background: #ffffff;
	position: relative;
}
.grid1_of_3:first-child{
	margin-left: 0;
}
.grid1_of_3 a{
	display: initial;
}
.grid1_of_3 a:hover h3{
	color: #57C5A0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.grid1_of_3 img{

	height: 217px
}
.grid1_of_3 h3{
	border-top: 1px solid #EBEBEB;
	padding: 15px;
    height: 50px;
	font-size: 1.2em;
	color: #000000;
	-webkit-text-stroke: 0.2px;
	text-shadow: 0 1px 0 #ffffff;
	text-transform: capitalize;
	text-align:left;
	padding-left: 95px;
}

.grid1_of_3 h3:hover {
		padding-left: 130px;
}

.price{
	background: #57C5A0;
	color: #ffffff;
	font-size: 0.8725em;
	padding: 25px 12px;
	position: absolute;
	bottom: 0px;
	left: 10px;
		z-index: 1000;
}
.price1{
	font-size: 0.7em;
	color: #ffffff;
	padding: 25px 15px;
	position: absolute;
	top: 0px;
	right: 10px;
	text-transform:uppercase;
	 font-weight: bold;
}
.price1.bg{
	background: #242424;
}
.price1.bg1{
	background: #F27E4B;
	width: 80px;
	padding: 20px 15px;
}
/* start grids_of_2 */
.grids_of_2.container {
	padding-top: 26px;
	margin-top: 47px;
}

.grids_of_3{
	display: block;
}

.grid1_of_2{
	float:left;
	width: 48.93617%;
	margin-left: 2.12765%;

}
.grid1_of_2:first-child{
	margin-left: 0;
}
.grid1_of_2.bg{
	background: #DFDBD4;
	width: 48.937%;
	height: 185px;
	padding: 23px 17px 25px 17px;
	margin-left: 20px;
	margin-bottom: 25px;
}
.span1_of_2{
	float: left;
	width: 47.828%;
    height: 185px;
	margin-left: 20px;
	background: #DFDBD4;
	padding: 20px;
}
.span1_of_2:first-child{
	margin-left: 0;
}
.grid1_of_2 h2{
	font-size: 14px;
	color: #141414;
	text-transform: uppercase;
	-webkit-text-stroke: 0.4px;
	text-shadow: 0 1px 0 #ffffff;
	margin-bottom: 4%;
	font-weight: bold;
}
.grid1_of_2 p{
	font-size: 0.78em;
	line-height: 1.5em;
	color: #141414;
	-webkit-text-stroke: 0.4px;
	text-shadow: 0 1px 0 #ffffff;
}

.grid1_of_3 h3.products_icons {
	padding-top: 5px;
	padding-left: 110px;
}

.products_icons {
	display: flex;
}


/* start date */
.grid_date{
	margin-top: 3%;
}
.grid_date:first-child{
	margin-top: 0;
}
.date1{
	float:left;
	width:36px;
}
.date_text{
	float: left;
	width: 84.3333%;
	margin-left: 10px;
}
.date1 h4{
	font-size: 0.7em;
	background:#57C5A0;
	padding: 4px 5px;
	text-transform: uppercase;
	color: #ffffff;
	height: 36px;
	width: 36px;
	text-align: center;
	margin-top:4px;
font-weight: bold;
}
.date_text  h4 a{
	display:block;
	font-size: 1em;
	color: #141414;
    font-weight: bold;
	text-shadow: 0 1px 0 #ffffff;
	margin-top: 1%;
   
}

/* start footer_top */
.footer_top{
	background: #242424;
}


.footer.container {
	padding: 50px 3.70644% 30px 3.70644%;

}
/* start grids_of_3 */
.span_of_3{
	display: block;
}
.span1_of_3{
	float:left;
	width:30.23255%;
	margin-left:4.65116%;
}
.span1_of_3:first-child{
	margin-left: 0;
}
.span1_of_3 h3{
	font-size: 1.2em;
	color: #5e5e5e;
	text-transform: uppercase;
	-webkit-text-stroke: 0.5px;
	margin-bottom: 6%;
}
.span1_of_3 p{
	font-size: 0.8725em;
	color: #9B9B9B;
	line-height: 1.8em;
	-webkit-text-stroke: 0.5px;
	font-style: italic;
}
.span1_of_3 p.top{
	margin-top: 2%;
}
.span1_of_3 p a{
	color: #57C5A0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.span1_of_3 p a:hover{
	color: #9B9B9B;
}
.f_nav li{
	float: left;
	width: 29.3333%;
	margin: 0 10px 10px 0;
}
.f_nav li a{
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.f_nav li a:hover{
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.7;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}


/* start footer_top */
.span1_of_3.visible-lg.bg-success {
	background-color: transparent;
}

.footer_mid{
	border-top:1px solid #141414;
	background: #242424;
}

.footer.container.mid {
	padding: 38px 3.70644% 45px 3.70644%;
}
/* start f_search */
.f_search{
	float:left;
	position: relative;
	width: 250px;
}
.f_search form input[type="text"]{
	font-family: 'Maven Pro', sans-serif;
	font-style: italic;
	-webkit-text-stroke: 0.5px;
	font-size:0.8725em;
	line-height: 24px;
	width: 214px;
	height: 36px;
	padding: 10px;
	background: #2e2e2e;
	color: #9B9B9B;
	border: none;
	outline: none;
	-webkit-appearance: none;
}
.f_search form input[type="submit"]{
	cursor:pointer;
	line-height: 24px;
	position: absolute;
	right: 0;
	background: #7d7d7d url('../images/arrow-next.png') no-repeat 10px 10px;
	padding: 10px;
	width: 36px;
	height: 36px;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-size: 0px;
}
.f_search form input[type="submit"]:hover{
	background: #5d5d5d url('../images/arrow-next.png') no-repeat 10px 10px;
}
/* start soc_icons */
.soc_icons {
	float:right;
	margin-right: 2%;
}
.soc_icons ul li{
	float: left;
	margin-left: 10px;
}
.soc_icons ul li a{
	color: #7d7d7d;
	display: block;
	padding: 0px;
	background: #2e2e2e;
	width: 36px;
	height: 36px;
}

.fa.fb {
	padding: 10px 10px 10px 12px; 
}

.fa.tw {
	padding: 7px;
}

.fa.gp {
	padding: 8px 5px;
}

.fa.li {
	padding: 6px 7px;
}

.fa.fl {
	padding: 6px 7px;
}


.soc_icons ul li a:hover{
	color:#57c5a0;
	zoom: 1;
}


/* start footer_bg */
.footer_bg{
	background: #2e2e2e;
}

.footer.container.bottom {
	padding: 37px 0.74128%;
}

.f_nav1{
	float: right;
}
.f_nav1 li{
	float: left;
	margin-right: 10px;
}
.f_nav1 li a{
	display:block;
	color: #7D7D7D;
	text-transform: capitalize;
	font-size: 0.8725em;
	-webkit-text-stroke: 0.5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.copy{
	float: left;
}
.copy p{
	color: #7D7D7D;
	font-size: 0.8725em;
	line-height: 1.8em;
	-webkit-text-stroke: 0.5px;
}
.copy p a{
	color: #57C5A0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.copy p a:hover{
	color: #7D7D7D;
}


#twitter-widget-holder{ max-height:400px; max-width:320px; padding:20px; background:#fff; border-radius:3px; box-shadow:2px 2px 3px rgba(0,0,0,.1); }


/* hover */
.box {
  cursor: pointer;
  height: 40px;
  position: relative;
  overflow: hidden;
  width: 300px;
  z-index: 999;
}

.box .overbox {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 300px;
  height: 40px;
  padding: 0px 0px;
}

.box:hover .overbox { opacity: 1; }


.box .overtext {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
}
 
.box .title {
  font-size: 2.5em;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}

.box:hover .title,
.box:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}
 
.box .tagline {
  font-size: 0.8em;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}
.box:hover .tagline,
.box:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

.hover_icons{
	line-height: 0;
	height: 51px;
	width: 310px;
	padding-top: 5px;
}

.hover_icon {
	width: 17px;
	height: 17px;
	padding-top: 0px;
}

.hover_icon {
	color: #6e6e6e;
}

.hover_icon:hover {
	color: #64caa7;
}

/*selector*/
.shopdiv a:hover {
	text-decoration: none;
	color: #57c5a0;
}

.selectbox {
	width: 220px;
	height: 60px;
	margin: auto 10px;
	color: white;
	background-color: #242424;
	border:0;
}

.selectbox.last {
	margin-right: 0px;
}

.selectpicker {
	width: 140px;
	height: 26px;
	background-color: #242424;
	margin: 17px 40px;
	border:0;
}

/* Products */
.btn.btn-default.btn-sm{
	margin-left: 5px;
	padding: 4.5px 5px 4.5px 5px;
	background-color: transparent;
	color: #bcb5a7;
	font-size: 12px;
	font-weight: bold;
}

.btn.btn-default.btn-sm.sort {
	padding: 4.5px 10px 4.5px 25px;
}

.ei-title.pro {
	left: 700px;
}

.btn.sld {
	padding: 20px 10px;
	margin: 25px 20px 25px 0px;
}

.pink_2013 {
	width: 400px;
	height: 100px;
}

.active.sld {
	padding-top: 0px; 	
}

.top_sld {
	display: inline-flex;
}

.well.well-sm {
	padding:0;
	margin: 30px 0 27px 0; 
}

.well {
	background-color: transparent;
	border:0;
	-webkit-box-shadow: none;
}

.all_prod {
	font-size: 1.5em;
}

.btn-group, .view_as {
	float:right;
}

.small_txt {
	color: #c3bcaf;
	font-size: 12px;
	padding-left: 15px;
	font-weight: bold;
}

.glyphicon.glyphicon-triangle-bottom {
	font-size: 9px;
	padding-left: 10px;
}
.view_as {
	color: #c3bcaf;
    padding: 10px 10px;
    font-size: 12px;
    font-weight: bold;
}
.sort {
	padding-left: 25px;
}
.grid1_of_3.pro {
	margin-right: 20px;
	margin-bottom: 18px;
}

.grid1_of_3.pro1 {
	margin-right: 0px;
	margin-bottom: 18px;
}

.grid1_of_3.pro1 a img, .grid1_of_3.pro a img {
	padding: 0 50px;
}

.price1.bg1.pro {
	text-align: center;
	font-size: 0.8em;
}

.dark_bg.two.shop {
	background-color: #2e2e2e;
}

.container.shop {
	height:90px;
}

.shop_by {
	display: inline-flex;
}

.shop_by a {
	color: white;
}

.shopdiv {
	font-size: 25px;
		padding: 30px 69px 30px 70px;
}


.brands {
	font-size: 20px;
	background-color: #242424;
	padding: 15px 70px;
	margin: 15px 0;
	display: inline-flex;
}

.circle_bg {
   width: 20px;
   height: 20px;
   background: white; 
   -moz-border-radius: 10px; 
   -webkit-border-radius: 10px; 
   border-radius: 10px;
   float: right;
}

.glyphicon.glyphicon-menu-down {
   font-size: 15px;
	color: #242424;
}

.grids_of_3.container.prod {
	margin-bottom: 15px;
}

/* listview grid view */

.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}


.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: transparent;
    margin-bottom: 10px;
    padding:0px;
}

.list-group-item {
border: 0;
}

.list-group-item{
	background-color: transparent;
}


.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}


.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.item.list-group-item.grid1_of_3.pro {
margin-left: 0;
}


/* extra */

.grid1_of_2.bg {
	width: 460px;
	height: 185px;
	margin-left: 19px;
}

.grids_of_2.container {
	display: flex;
	margin-bottom: 25px;
}

.carousel-indicators {
top: 158px;
}


@media screen and (max-width: 958px) {
.header.container, .header_btm.container {
	width: 720px;
	padding-left: 0px;
	padding-right: 0px;
}

.menu ul li a{
	font-size: 14px;
	padding: 21.5px 24.671873px;
}

.header_right ul li a {
	font-size: 0.7em;
	padding: 13.5px 11.35px;
}


.header_right ul li a.cart_box {
	padding-right: 15px;
}

.main1.container {
	width: 720px;
	padding: 25px 10px;
}

.image1_of_3 img{
	width: 220px;
	height: 181px;
}

.top_main.container {
	width:720px;
	height: 87px;
	padding: 30px 10px 30px 0px;
}

.top_main.container h2 {
	height: 21px;
	font-size: 21px;
}

.top_main.container a {
	padding: 8px 20px;
	height: 32px;
	width: 100px;
	font-size: 14px;
}

.price1.bg {
	width:78px;
	padding: 25px 10px;
}

.price {
	padding: 25px 8.5px;
}

.grid1_of_3 a h3{
	height: 50px;
	padding: 13px 0px 17px 86px;
	font-size: 16px;
}

.price1.bg1 {
	width:78px;
	font-size: 14px;
	padding: 20px 10px;
}

.grids_of_3.container{
	width: 720px;
	padding: 0px 10px 0px 10px;
}

.grids_of_2.container {
	width: 720px;
	padding: 27px 10px 0px 10px;
	margin-top: 46px;
}

.grid1_of_2 {
	width:220px;
}

.span1_of_2 {
	margin-left: 0px;
	width: 220px;
	height: 185px;
}

.grid1_of_2.bg {
	width: 460px;
	margin-left: 20px;
}

.footer.container {
	width: 720px;
	padding: 42px 10px 42px 10px;
}

.footer.container.mid {
 padding: 40px 10px 45px; 
}

.footer.container.bottom{
	width: 720px;
padding: 37px 10px 37px 10px;
}

.grid1_of_3 h3:hover {
    padding-left: 95px;
}

.hover_icons {
	width:223px;
}

.box{
	width: 223px;
}

.span1_of_3 {
	width: 40%;
}

.span1_of_3.last {
margin-left: 20%; 
}

.ei-title.pro {
	left: 400px;
	top: 0px;
}

.top_sld {
	height: 80px;
}

.active.sld {
	width:300px;
}

.ei-title h2.pink_2013 {
	font-size: 1.8em;
}

.btn.sld {
	margin-top: 10px;
	margin-bottom: 0px;
    height: 72px;
}
}


@media only screen and (max-width: 767px) {
.container {
	width:100%;
	max-width: 320px;
}

.navbar-toggle {
	float:left;
}

.web_search {
	float: unset;
	display:flex;
	    flex-flow: row-reverse wrap;
	    position: relative;
	    top:25px;
	    left:80px;
	    border:none;
}

    .modal-content {
        width: 100%;
    }

.glyphicon.glyphicon-align-justify {
	font-size: 19px;
	width: 20px;
	height: 20px;
}
    .navbar-toggle {
    	width:78px;
    	height: 60px;
    	margin: 0px;
    	border-top: 0;
    	border-bottom: 0;
    	padding: 20px 27px 20px 27px; 
    	border: 1px solid rgb(226, 226, 226);
    	border-radius: 0;
    }

.image1_of_3{
	width: 100%;
	margin-left: 0;
	text-align:center;
	position: relative;
}

.image1_of_3 img {
	width: 100%;
	padding-left: 0px;
}

.dark_bg.two {
height:  660px; 
}

.image1_of_3 span {
top:-100px;
}

.top_main h2 {
	float:none;
	text-align: center;
	width: 320px;
}

.top_main.container a{
	width:96.5%;
	text-align: center;
	margin: 10px 0px 10px 10px;
}

.grid1_of_3 {
	width: 100%;
	margin-left: 0px;
	margin-top: 10px;
}

.grid1_of_2, .span1_of_2 {
	width:100%;
}

.grid1_of_2.bg {
	margin-left: 0;
	width: 100%;
	margin-top:10px;
		padding-top: 15px;
}

.date_text {
	width: 80%;
	font-size: 14px;
}

.grids_of_2.container {
	margin-top:0;
}

.span1_of_3 {
	width: 100%;
}

.span1_of_3.last {
margin: 10px 0px 0px 0px;
}

.footer.container {
	padding: 30px 10px 25px 10px;
}

.soc_icons {
	width: 100%;
	margin: 20px 0 0 0;
}

.footer.container.mid {
	width: 270px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.copy {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.f_nav1 {
	width: 100%;
}

.modal-dialog {
	margin-left: 39px;
	margin-right: 60px;
}

.dropdown-menu-right {
	right: inherit;
}

.icon-bar {
	background-color:black;
}

.box {
	width: 100%;
}

.hover_icons {
	width: 100%;
}

.grid1_of_3 h3:hover {
		padding-left: 130px;
}

.grids_of_2.container {
	display: block;
}

.grid1_of_2.bg {
	margin-left: 0px;
}

}

/* SURPLUS */

@media (max-width: 767px){


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		position: absolute;
		background: rgba(0, 0, 0, 0.81);
		z-index: 999;
	}

	.navbar-nav {
    float: none !important;
    margin: 60px 0px 0px;
}



nav#cl-effect-15 ul li {
    display: block;
}

.menu ul li.active a {
	color: #57c5a0;
}

.menu ul li {
	border:0;
}

.menu ul li:nth-child(6) {
	border-right: 0;
}

.menu ul li a {
	font-size: 15px;
}

.navbar-default .navbar-nav>.active>a {
	background-color: transparent;
	color: #777;
}

.nav.navbar-nav.collapse.navbar-collapse{
	padding: 0 15px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.dropdown-content {
	top:47px;
	left:-20px;
}

.navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #57c5a0;
}

.navbar-default .navbar-toggle {
	border:1px solid rgb(226, 226, 226);
	border-top:0;
	border-bottom: 0;
}

.grids_of_2.container {
	display: block;
}

.grid1_of_2.bg {
	margin-left: 0px;
}

.carousel-indicators{
	top:362px;
}

.dropbtn.glyphicon.glyphicon-search {
	padding-top: 7px;
	margin-right: 0px;
}

.dropbtn.glyphicon.glyphicon-search:hover{
	background:transparent;
}
}




